html {
    font-size: 20px;
    font-family: Algerian;
    background-color: #e2b978;
}

a[href="https://google.com"] {
    font-size: 15px;
}

a[href="https://firefox.org"] {
    font-size: 15px;
}

a {
    color: #000000;
}

.aleft {
    text-align: left;
}

h1 {
    margin: 0 auto;
    padding: 20px 0;
    color: #5c2f2f;
    text-shadow: 2px 2px 1px #b7a3a3;
}

img {
    width: 400px;
    height: 300px;
    display: block;
    margin: 0 auto;
    max-width: 320px;
    max-height: 250px;
}

a:hover {
    color: deeppink;
}

body {
    width: 800px;
    margin: 20px auto;
    background-color: #93ba4b;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    font-size: 20px;
    text-align: center;
}

p, li {
    margin: 4px auto;
    text-align: left;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 1px;
}

summary {
    display: block;
}

summary::before {
    content: '\25B6';
    padding-right: 0.5em;
}

details[open] > summary::before {
    content: '\25BC';
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

ul {
    margin: .4rem;
}

figure {
    border: thin #e2b978 solid;
    display: inline-table;
    flex-flow: column;
    padding: 20px;
    margin: auto;
    max-width: 600px;
    max-height: 600px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}